@model WypozyczeniaAPI.Models.Opis

@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detale</title>
</head>
<body>

<div>
    <h4>Opis</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Typ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Typ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tytul)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tytul)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Treść)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Treść)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Serwis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Serwis.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edytuj</a> |
    <a asp-action="Index">Powrót do listy</a>
</div>
</body>
</html>
