@model IEnumerable<WypozyczeniaAPI.Models.Pojazd>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

@if (ViewBag.Message != null)
{
    <script>

        $(document).ready(function () {

            alert('@ViewBag.Message');

        });

    </script>

}

<h1>Pojazdy</h1>

<p>
    <a asp-action="Create">Dodaj nowy</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rejestracja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WE)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rejestracja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WE)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detale</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
@{
    ViewBag.page -= 1;
    <a asp-action="index" asp-route-page="@ViewBag.page">Poprzedni</a>
    ViewBag.page += 2;
    <a asp-action="index" asp-route-page="@ViewBag.page">Następny</a>

}